
<div class="container">
  <div class="row">
     <div class="col-xs-9">
        <%# レビュー評価があれば表示 %>
        <% if @reviews.present? %>  
          <p>-レビュー一覧-</p>
          <% @reviews.each do |review| %>
              <div class="col-xs-12">
                <p>------------------------------------------------------------------------------------</p>
                <div class="col-xs-3">
                  <%= link_to customer_product_path(review.product) do %>
                    <%= attachment_image_tag review.product, :image, size: "160x160", fallback: "noimage.jpg", size: "160x160" %><br>
                    <%= review.product.name %>
                  <%end%>
                </div>
                <div class="col-xs-6">
                  <p>商品ID:<%= review.product_id %>　商品名:<%= link_to review.product.name,customer_product_path(review.product_id)%></p>
                  <p>評価ID:<%= review.id %>　点数:<%= review.rate%>点</p> 
                  <!--星評価-->
                  <div id="star-rate-<%= review.id %>"></div>
                    <script>
                    $('#star-rate-<%= review.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= review.rate %>,
                    });
                    </script>  
                  <!--/星評価-->
                  <p>タイトル:<%= review.title %></p>
                  <p>クチコミ:<%= review.content%></p>
                  <%# レビュー投稿者のみ操作可能 %>
                  <% if current_customer.id==review.customer_id %>
                    <%= link_to "編集",edit_customer_product_review_path(product_id:review.product_id,id:review.id) %>
                    <%= link_to "削除",customer_product_review_path(product_id:review.product_id,id:review.id), method: :delete %>
                  <% end %>
                </div>
              </div>
          <% end %>
        <%else%>
            <p>まだ商品のレビューをしていません。</p>   
        <% end %>
    </div>
    <div class="col-xs-3">
     <%= render partial: "review_rank", locals:{all_ranks: @all_ranks,products: @products,reviews_all:@reviews_all} %>
    </div>
  </div>
</div>