
<%# if flash[:notice] %>
  <!-- <p><%= flash[:notice] %></p> -->
<%# end %>

<div class="col-xs-1"></div>
<div class="col-xs-6">

<h2>ショッピングカート</h2>


<% if @cart_products.present? %>
<%= link_to "カートを空にする", destroy_all_path(@cart_products), method: :delete ,class:"btn btn-danger" %>

<h1></h1>
<%# form_for @order, url: customer_orders_path do |f| %>

<% sum = 0 %>
<% @cart_products.each do |cart_product| %>

<table class="table table-bordered">
	<tr>
		<th width=150px>商品名</th>
		<th width=100px>単価（税込）</th>
		<th width=150px>数量</th>
		<th width=50px>小計</th>
		<th width=150px></th>
	</tr>

	<tr>
		<th>
			<%= cart_product.product.name %>
		</th>
		<th>
			<%= (cart_product.product.price * 1.1).round %>円
		</th>
		<th>
			<%= form_for cart_product, url: customer_cart_product_path(cart_product.id) do |f| %>
			<%= f.select :amount, [["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]],{} %>
			<%= f.submit "変更", class:"btn btn-primary" %>
			<% end %>
		</th>
		<th>
			<% sub_total = (cart_product.product.price * 1.1).round.to_i * cart_product.amount.to_i %>
			<% sum+=sub_total %>
			<%= sub_total %>円
		</th>
		<th>
			<%= link_to "削除する", customer_cart_product_path(cart_product), method: :delete,class:"btn btn-danger" %>
		</th>
	</tr>
</table>

<% end %>

<div class="col-xs-3">
<table class="table table-bordered">
	<tr>
		<th width="80px">合計金額</th>
		<th><%= sum %>円</th>
	</tr>
</table>
</div>

<%= link_to "買い物を続ける", root_path,class:"btn btn-primary" %>

<%= link_to "購入", new_customer_order_path, class:"btn btn-success" %>

<% else %>

<h3>カートに商品はありません<h3>


<%# f.submit "購入" %>

<% end %>




</div>
