<div class="container">
	<div class="row">
	<%= render 'shared/error_messages', model: @customer %>
		<div class="col-xs-7 col-xs-offset-1">
		<div class="customer_edit">
			<div class="registlation_info">
				<p>登録情報編集　</p>
				<%= link_to (destroy_confirm_path(@customer))do %>
					<button class="btn btn-danger">退会する</button>
				<%end%>
			</div>
			<%# テーブル内容の書き方合ってるか不安 %>
			<%= form_for(@customer,url:customer_customer_path) do |f| %>
			
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th width="150">氏名</th>

						<td>
							<%= f.text_field :last_name, :size=>"20",autofocus: true%>
							<%= f.text_field :first_name,autofocus: true%>
						</td>
					</tr>
					<tr>
						<th width="150">カナ</th>
						<td>
							<%= f.text_field :kana_last_name, autofocus: true%>
							
							<%= f.text_field :kana_first_name, autofocus: true%>
						</td>
					</tr>
					<tr>
						<th width="150">郵便番号</th>
						<td>
							<%= f.text_field :postal_code,:size=>"10", autofocus: true%></td>
					</tr>
					<tr>
						<th width="150">住所</th>
						<td>
							<%= f.text_field :address,:size=>"40", autofocus: true%></td>
					</tr>
					<tr>
						<th width="150">電話番号</th>
						<td>
							<%= f.text_field :telephone_number, :size=>"15",autofocus: true%></td>
					</tr>
					<tr>
						<th width="150">メールアドレス</th>
						<td>
							<%= f.text_field :email, :size=>"30",autofocus: true%></td>
					</tr>
				</tbody>
			</table>
				<div class="edit_save">
				<%= f.submit "編集内容を保存する" ,class:"btn btn-primary"%>
				</div>
			<%end%>
		</div>
	</div>
</div>