<div class = "container">
    <h1>注文情報確認</h1>
        <div class = "row">
            <div class = "col-xs-6">
                <table class = "table table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価</th>
                        <th>数量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ケーキ</td>
                        <td>1,100</td>
                        <td>2</td>
                        <td>2,200</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class = "col-xs-6">
            <table class = "table table-bordered">
                <tr>
                    <th>送料</th>
                    <td>800</td>
                </tr>
                <tr>
                    <th>商品合計</th>
                    <td>2,200</td>
                </tr>
                <tr>
                    <th>請求合計</th>
                    <td>3,000</td>
                </tr>
                </table>
            </div>
        </div>

        <%= form_for @order, url:customer_orders_path, method: :post do |f| %>
        <h3>支払方法</h3>
        <%= f.label session[:order]["payment_option"] %>
        <h3>お届け先</h3>
        <%= f.label session[:order]["postal_code"] %>
        <%= f.label session[:order]["address"] %>
        <%= f.label session[:order]["receiver"] %>
        <%= f.submit "購入を確定する" %>
        <% end %>
    </div>