<div class="container">
    <h2>会員編集画面</h2><br>
    <div class="row">
        <%= render 'shared/error_messages', model: @customer %>
        <div class="col-xs-8 col-xs-offset-1 admin_edit_table">
            <%= form_for(@customer,url:admin_customer_path(@customer)) do |f| %>
            <table>
                <tbody>
                    <tr>
                    <th width="150" height="50">顧客ID</th>
                        <td><%= @customer.id %><td>
                    </tr>
                    <tr>
                        <th width="150" height="50">氏名</th>
                        <td><%= f.text_field :last_name,autofocus: true,class:"input_type1"%>
                            <%= f.text_field :first_name,autofocus: true,class:"input_type1"%></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">フリガナ</th>
                        <td><%= f.text_field :kana_last_name,autofocus: true,class:"input_type1"%>
                            <%= f.text_field :kana_first_name,autofocus: true,class:"input_type1"%></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">郵便番号</th>
                        <td><%= f.text_field :postal_code, autofocus: true,class:"input_type1"%></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">住所</th>
                        <td><%= f.text_field :address, autofocus: true,class:"input_type2"%></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">電話番号</th>
                        <td><%= f.text_field :telephone_number,autofocus: true,class:"input_type3"%></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">メールアドレス</th>
                        <td><%= f.text_field :email,autofocus: true,class:"input_type3"%></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">会員ステータス</th>
                        <td><label><%= f.radio_button :status, true %>有効会員</label>
                            <label><%= f.radio_button :status, false %>退会済み</label>
                        </td>
                    </tr>
                <tbody>
            </table>
                <%= f.submit "変更を保存する", class:'btn btn-primary' %>
            <%end%>

        <div>
    </div>
</div>