<div class="container">
    <h2>会員詳細画面</h2><br>
    <div class="row">
        <div class="col-xs-7 col-xs-offset-1">
            <table>
                <tbody>
                    <tr>
                    <th width="150" height="50">顧客ID</th>
                        <td><%= @customer.id %>　<div class="customer_status">
                                                <% if @customer.status==true %>
                                                    <p class="valid">有効会員</p>
                                                <% elsif @customer.status==false %>
                                                    <p class="invalid">退会済み</p>
                                                <% else %>
                                                    <p>ンゴ</p>
                                                <% end %>
                                                </div><td>
                    </tr>
                    <tr>
                        <th width="150" height="50">氏名</th>
                        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">フリガナ</th>
                        <td><%= @customer.kana_last_name %> <%= @customer.kana_first_name %></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">郵便番号</th>
                        <td><%= @customer.postal_code %></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">住所</th>
                        <td><%= @customer.address %></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">電話番号</th>
                        <td><%= @customer.telephone_number %></td>
                    </tr>
                    <tr>
                        <th width="150" height="50">メールアドレス</th>
                        <td><%= @customer.email %></td>
                    </tr>
                <tbody>
            </table>
            <div class="admin_show_btn">
                <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-primary" %>
                <%= link_to "注文履歴一覧を見る", admin_orders_path, class:"btn btn-primary order_btn" %>
            </div>
        <div>
    </div>
</div>