<!-- ジャンルごとの商品一覧 -->
<div class="col-xs-offset-1">
<div class="col-xs-3">
    <%= render 'layouts/sidebar', genres: @genres %>
</div>

<div class="col-xs-8">
    <% if @genre_select = true %>
        <h2><%= @genre.type %>一覧</h2>

        <div class="row">
            <% @products.each do |product| %>
                <div class="col-xs-3" style="padding: 10px;">
                <%= link_to customer_product_path(product) do %>
                    <%= attachment_image_tag product, :image, size: "160x160", fallback: "noimage.jpg", size: "160x160" %><br>
                <%end%>
                <%= link_to product.name %>
                <p>金額：<%= product.price %>円</p>
                </div>
            <%end%>

        <% else %>
            <% @products.each do |product| %>
                <div class="col-xs-3">
                    <%= link_to customer_product_path(product) do %>
                        <%= attachment_image_tag product, :image, size: "160x160", fallback: "noimage.jpg", size: "160x160" %><br>
                    <%end%>
                    <%= link_to product.name %>
                    <p>金額：<%= product.price %>円</p>
                </div>
            <% end %>


        </div>
    <%end%>

    <%= paginate @products %>
</div>
</div>