<!-- ジャンルごとの商品一覧 -->
<div class="col-xs-offset-1">
<div class="col-xs-3">
    <%= render 'layouts/sidebar' %>
</div>

<div class="col-xs-8">
    <h2>＊＊＊一覧</h2>

    <div class="row">
        <% if @products.present? %>
        <% @products.each do |product| %>
            <div class="col-xs-3">
            <%= link_to customer_product_path(product) do %>
                <%= attachment_image_tag product, :image, size: "160x160", fallback: "noimage.jpg", size: "160x160" %><br>
            <%end%>
            <%= link_to product.name %>
            <p>金額：<%= product.price %>円</p>
            </div>
        <%end%>
        <% else %>
        <p>未登録</p>
        <%end%>

    </div>

    <%= paginate @products %>
</div>
</div>