<div class="col-xs-offset-1" style="margin-top: 50px;">
	<div class="col-xs-3">
    	
	</div>

	<div class="col-xs-3">
		<!-- 商品詳細（写真） -->
		<%= attachment_image_tag @product, :image, size: "250x250", fallback: "noimage.jpg", size: "250x250" %>
	</div>


	<div class="col-xs-4" style="">
		<!-- 商品詳細 -->
	    <h2><%= @product.name %></h2>
	    <p>商品説明：<%= @product.content %></p>
	    <p>¥ <%= (@product.price * 1.1).round %> (税込)</p>

	    <!-- カートに商品を追加する -->
	    <%= form_for @cart_product, url: customer_cart_products_path do |f| %>
		    <%= f.hidden_field :product_id, :value => @product.id %>
		    <% if @product.selling_status == false %>
		    <%= f.submit '売り切れ', class: "btn btn-new-register btn-lg", disabled: true %>
		    <% else %>
		    <%= f.select :amount, [["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]],{}, {class: "form-control col-xs-2"} %>
			<%= f.submit "カートに入れる", class:"btn btn-success btn-new-register btn-lg" %>
			<% end %>
		<%end%>
	</div>

</div>


