<div class="col-xs-offset-1" style="margin-top: 50px;">

<!-- サイドバーの表示 -->
	<div class="col-xs-3">
    	<%= render 'layouts/sidebar', genres: @genres %>
	</div>

<!-- 商品詳細ページ -->
  <!-- 商品詳細（写真） -->
	<div class="col-xs-3">
		<%= attachment_image_tag @product, :image, size: "250x250", fallback: "noimage.jpg", size: "250x250" %>
	</div>

  <!-- 商品詳細 -->
	<div class="col-xs-4">
    <h2><%= @product.name %></h2>
    <p style="font-size: 18px;">商品説明：<br><%= @product.content %></p>
    <p style="font-size: 18px;">¥ <%= (@product.price * 1.1).round %> (税込)</p>

  <!-- カートに商品を追加する -->
    <%= form_for @cart_product, url: customer_cart_products_path do |f| %>
		  <%= f.hidden_field :product_id, :value => @product.id %>
      <!-- もしselling_statusがfalseなら -->
		  <% if @product.selling_status == false %>
  		  <%= f.submit '売り切れ', class: "btn btn-new-register btn-lg", disabled: true %>
      <!-- もしcurrent_customerがnil -->
      <% elsif current_customer == nil %>
          <%= link_to 'ログインしてください', new_customer_session_path %>
      <!-- それ以外 -->
		  <% else %>
  		  <%= f.select :amount, [["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]],{}, {class: "form-control col-xs-2"} %>
        <%= f.submit "カートに入れる", class:"btn btn-success btn-new-register btn-sm" %>
      <% end %>
		<%end%>
	</div>

</div>

<!-- select補足: f.select :プロパティ名(=カラム名), タグの情報(=セレクトボックス表示に使うデータの配列orハッシュ), {オプション(=セレクトボックスのオプション)}, {HTMLオプション(=id, classなど)}.
▷ 配列 : [[ 選択肢の表示名1, 実際に送信されるデータ1 ],[ 選択肢の表示名2, 実際に送信されるデータ2 ], ...].
▷ ハッシュ : { "選択肢の表示名1" => "実際に送信されるデータ1", "選択肢の表示名2" => "実際に送信されるデータ2", ... } -->

<div class="container">
  <div class="row">

     <div class="col-xs-4">
        <%# レビュー評価があれば表示 %>
        <% if @reviews.present? %>
          <p>この商品の評価は<%= @reviews.average(:rate).round(1) %>/5.0点です</p>
          <p>口コミ数は<%= @reviews.length %>件です</p>
          <div class="review_head">
            <p>-レビュー一覧-</p>
            <%= link_to "新規レビュー",new_customer_product_review_path(@product.id),class:"btn btn btn-primary review_btn"%>
          </div>
          <% @reviews.each do |review| %>
            <div class="col-xs-9">
              <p>-----------------------------------------</p>
              <p>商品ID:<%= review.product_id %>　商品名:<%= link_to review.product.name,customer_product_path(review.product_id)%></p>
              <p>評価ID:<%= review.id %>  点数:<%= review.rate%>点</p>
               <!--星評価-->
                <div id="star-rate-<%= review.id %>"></div>
                  <script>
                  $('#star-rate-<%= review.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: <%= review.rate %>,
                  });
                  </script>
                <!--/星評価-->
              <p>タイトル:<%= review.title %></p>
              <p>クチコミ:<%= review.content%></p>
              <%= link_to "編集",edit_customer_product_review_path(product_id:review.product_id,id:review.id) %>
              <%= link_to "削除",customer_product_review_path(product_id:review.product_id,id:review.id), method: :delete %>
            </div>
          <% end %>
        <%else%>
          <%# レビュー評価がなければレビューリンクを表示 %>
          <%=link_to "この商品のレビューをする",new_customer_product_review_path(product_id:params[:id])%>     
        <% end %>
    </div>
  </div>
</div>
