<%#= render 'layouts/customer_header' %>
<div id="slideshow" >
    <div id="theTarget" data-turbolinks="false">
        <div class="image1"><a href="/customer/products/1"></a></div>
        <div class="image2"><a href="/customer/products/2"></a></div>
        <div class="image3"><a href="/customer/products/3"></a></div>
        <div class="image4"><a href="/customer/products/4"></a></div>
        <div class="image5"><a href="/customer/products/5"></a></div>
    </div>
</div>
<div class="col-xs-offset-1">
<div class="col-xs-3">
    <%= render 'layouts/sidebar', genres: @genres %>
</div>

<div class="col-xs-8">
    <h2 class="red-border px-3">すべての商品</h2>

    <div class="row">
        <% @products.each do |product| %>
            <div class="col-xs-3">
                <%= link_to customer_product_path(product) do %>
                    <%= attachment_image_tag product, :image, size: "160x160", fallback: "noimage.jpg", size: "160x160" %><br>
                    <%= product.name %>
                <%end%>
                <p>金額：<%= product.price %>円</p>
            </div>
        <% end %>
    </div>

    <%= paginate @products %>
</div>
</div>
