<%= render 'layout/admin_header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-9">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  

    <table>
    <tr>
      <th width="180">
      <%= f.label :email %>
      </th>

      <th>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </th>
    </tr>
  </table>

    <table>
    <tr>
      <th width="180">
      <%= f.label :password %>
      </th>

      <th>
      <%= f.password_field :password, autocomplete: "current-password" %>
      </th>
    </tr>
  </table>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>

    </div>
  </div>
</div>
