<%#= render 'layouts/admin_header' %>
<!-- 商品新規登録ページ -->
<div class="container">
<div class="row">

	<!-- エラー文 -->
	<%# if @user.errors.any? %>
		<!-- <div id="error_explanation"> -->
		    <!-- <h2><%#= @user.errors.count %>errors prohibited this book from being saved:</h2> -->
	    	<%# @user.errors.full_messages.each do |msg| %>
	    	<!-- <li><%#= msg %></li> -->
	    	<%# end %>
	    <!-- </div> -->
    <%# end %>

	<h2 class="col-xs-offset-1 new_product_head">商品　新規登録画面</h2>

    <%= form_for @product, url: admin_products_path do |f| %>
	    <!-- 商品写真登録 -->
	    <div class="col-xs-3 col-xs-offset-1">
	    	<div class="form-group has-icon">

	    		<lavel><%= f.file_field :image, id: :product_img %></lavel>

				<% if @product_img.present? %>
					<%= image_tag @product.image, size:"250x250", id: :img_prev %>
				<% else %>
					<%= image_tag "noimage.jpg", size:"250x250", id: :img_prev %>
				<% end %>

				<p><%= f.check_box :remove_image %>画像を削除する</p>
			</div>
		</div>

		<div class="col-xs-8">

			<!-- 商品名登録 -->
			<div class="form-group">
				<lavel>商品名</lavel><br>
				<%= f.text_field :name, class: "col-xs-6" %><br>
			</div>

			<!-- 商品説明登録 -->
			<div class="form-group">
				<lavel>商品説明 </lavel><br>
				<%= f.text_area :content, class: "col-xs-6 rows-5 new_product_contents" %>
			</div><br><br>

			<!-- ジャンル選択 -->
			<div class="form-group">
				<lavel>ジャンル </lavel><br>
					<%= f.select :genre_id, Genre.all, class: "col-xs-6" %>
					<!-- collection_selectのformfor内での使い方 => f.coection_select (:オブジェクト名),:プロパティ,:オブジェクトの配列,:value属性の項目,text --><br>
			</div>

			<!-- 税抜価格 -->
			<div class="form-group">
				<lavel>税抜価格 </lavel><br>
				<%= f.text_field :price, class: "col-xs-3" %><p> 円</p><br>
			</div>

			<!-- 販売ステータス -->
			<div class="form-group">
				<lavel>販売ステータス </lavel><br>
				<%#= f.select :selling_status [['販売中', true], ['売切れ', false]], {}, class: "col-xs-6" %>
			</div>

			<!-- 投稿ボタン -->
			<%= f.submit "新規投稿", class:"btn btn-primary"  %>
		</div>

	<% end %>


</div>
</div>