<!-- 商品新規登録ページ -->
<div class="container">
<div class="row">
	<p class="new_product_head">商品　新規登録画面</p>

	<!-- エラー文 -->
	<%# if @user.errors.any? %>
		<div id="error_explanation">
		    <!-- <h2><%#= @user.errors.count %>errors prohibited this book from being saved:</h2> -->
	    	<%# @user.errors.full_messages.each do |msg| %>
	    	<li><%#= msg %></li>
	    	<%# end %>
	    </div>
    <%# end %>

    <%= form_for @product, url: admin_products_path do |f| %>
	    <!-- 商品写真登録 -->
		<%#= f.attachment_field :image_id, placeholder: "商品画像", class: "product_new image" %>

		<!-- 商品名登録 -->
		<p class="product_new name">商品名</p>
		<p><%= f.text_field :name %></p>

		<!-- 商品説明登録 -->
		<p class="product_new content">商品説明</p>
		<p><%= f.text_area :content %></p>

		<!-- ジャンル選択 -->
		<p class="product_new jenre">ジャンル</p>
		<P><%#= f.collection_select :genre_id, Genre.all, :id, :value属性の項目とは？ %></p>
		<!-- collection_selectのformfor内での使い方 => f.coection_select (:オブジェクト名),:プロパティ,:オブジェクトの配列,:value属性の項目,text -->

		<!-- 税抜価格 -->
		<p class="product_new price">税抜価格</p>
		<p><%= f.text_field :price %> 円</p>

		<!-- 販売ステータス -->
		<p class="product_new selling_status">販売ステータス</p>
		<p><%#= f.select :selling_status [["販売中", "true"], ["売切れ", "false"]] %></p>

		<!-- 投稿ボタン -->
		<%= f.submit "新規投稿" do %><p class="btn btn-primary product_new"></p><%end%>

	<% end %>


</div>
</div>