<!-- 商品詳細ページ -->

<div class="container">
<div class="row">
	<p class="show_product_head">商品　詳細画面</p>

    <%= attachment_image_tag @product, :image_id, :fill, 100, 100, format: 'jpeg' %>

    <p>商品名 <%= products.name, class: show_products %></p>

    <p>商品説明 <%= products.content, class: show_products %></p>

    <p>ジャンル　<%= products.jenre, class: show_products %></p>

    <p>税込み価格　<%= products.price, class: show_products %></p>

    <P>販売ステータス　<%= products.selling_status, class: show_products %></P>

    <div class="row">
    	<%= link_to edit_admin_product_path do %>
    		<p class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></p>
        <%end%>
    </div>
</div>
</div>