
<div class="col-xs-3"></div>

<div class="col-xs-3">
<h2>配送先編集</h2>

<%= form_for(@delivery,url:customer_delivery_path) do |f| %>

<table class="table table-bordered">
	<tr>
		<th width="100">
		<%= f.label :郵便番号 %>
		</th>

		<th>
		<%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
		</th>
	</tr>
	<tr>
		<th width="100">
		<%= f.label :住所 %>
		</th>

		<th>
		<%= f.text_field :address, autofocus: true, autocomplete: "address" %>
		</th>
	</tr>
	<tr>
		<th width="100">
		<%= f.label :宛名 %>
		</th>

		<th>
		<%= f.text_field :receiver, autofocus: true, autocomplete: "receiver" %>
		</th>
	</tr>
</table>

<div class="actions">
  <%= f.submit "編集する" %>
</div>

<% end %>

</div>
