  <!-- admin用header <%#= render 'layout/admin_header' %> -->
  <header>
    <div class="container">
      <div class="headline">
        <%= image_tag "logo_transparent.png", class: "logo_img" %>
      </div>

        <ul class="header_top">
          <li class="nav-list-item"><%= link_to admin_products_path do%>商品一覧<%end%></li>
          <li class="nav-list-item"><%= link_to admin_customers_path do%>会員一覧<%end%></li>
          <li class="nav-list-item"><%= link_to admin_orders_path do%>注文履歴一覧<%end%></li>
          <li class="nav-list-item"><%= link_to admin_genres_path do%>ジャンル管理<%end%></li>
          <li class="nav-list-item"><%= link_to destroy_admin_session_path, method: :delete do%>LOG OUT<%end%></li>

          <ul class="header_seach">
            <li class="glyphicon glyphicon-search"> kennsaku</li>
          </ul>
        </ul>

    </div>
  </header>