  <!-- customer用header <%#= render 'layouts/customer_header' %> -->
  <header>
    <div class="center-block header_item">
      <% if current_customer.present?%>
        <%# ハンバーガーメニュー %>
        <%= render partial: "shared/menu", locals: {id:current_customer.id} %>
      <% end %>

      <div class="headline">
        <%= image_tag "logo_transparent.png", class: "logo_img" %>
      </div>

      <% if customer_signed_in? %>
        <ul class="header_top">
          <li style="margin-right: 40px;">
            <div class="glyphicon glyphicon-search input-group">
              <input type="text">
            </div>
          </li>

          <li>
            <div class="head_current_customer_name">ユーザー名：<%= current_customer.last_name %></div>
          </li>
        </ul>

        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to root_path do %>TOP<%end%></li>
          <li class="nav-list-item"><%= link_to root_path do %>ABOUT<%end%></li>
          <li class="nav-list-item"><%= link_to customer_customer_path(current_customer) do %>MY PAGE<%end%></li>
          <li class="nav-list-item"><%= link_to customer_cart_products_path do %>CART<%end%></li>
          <li class="nav-list-item"><%= link_to destroy_customer_session_path, method: :delete do %>LOG OUT<%end%></li>
        </ul>
      <%else%>
        <ul class="nav-list" style="margin-top: 40px;">
          <li class="nav-list-item"><%= link_to root_path do%>TOP<%end%></li>
          <li class="nav-list-item"><%= link_to root_path do%>ABOUT<%end%></li>
          <li class="nav-list-item"><%= link_to new_customer_session_path do%>LOG IN<%end%></li>
          <li class="nav-list-item"><%= link_to new_customer_registration_path do%>SIGN UP<%end%></li>
        </ul>
      <%end%>
    </div>
  </header>
 