<!DOCTYPE html>
<html>
  <%=render 'layouts/head' %>
  <body>
    <div class="background_img">

      <%# adminならadmin_headerを呼ぶ。違うならcustomer_headerを呼ぶ %>

      <% if current_admin.present? %>
        <%= render 'layouts/admin_header' %>
      <% else %> 
        <%= render 'layouts/customer_header' %>
      <% end %> 

        <%# エラー文あれば表示 %>
        <% flash.each do |message_type,message| %>
          <%= content_tag(:div,message,class:"alert alert-#{message_type}") %>
        <% end %>
        <%= flash[:danger] %>
      <div class="main_container">
        <%= yield %>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/skippr.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>